.dark-theme-title {
    font-size: 36px;
    margin-bottom: 30px;
}

.dark-theme-input-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.dark-theme-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #444;
    background-color: #333;
    color: #ffffff;
    flex: 1;
}

.dark-theme-button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    background-color: #333;
    color: #ffffff;
    cursor: pointer;
    margin-left: 10px;
}

.dark-theme-button:hover {
    background-color: #555;
}

.dark-theme-button:focus {
    outline: none;
}